<!DOCTYPE html>
<html lang="en">
<head>
    <title>Images Processor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/jquery-3.4.1.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/90312fa36f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="/static/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/jquery.sortable.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <h1><i class="fas fa-magic"></i>  Simple Image Processor</h1>
      </div>
    </nav>

    <div class="container-fluid text-center">    
        <div class="row content">

            <div class="col-sm-1 sidenav"></div>
            <div class="col-sm-10 text-center main-col"> 
                <div class="row rowtop">
                    <div class='col'>
                        <div class="container border flex-column top-container">
                            <h3 class="gray-text">Select an image to process</h3>
                            <input type="file" name="oriFile" value="" id="oriFile" class="required borrowerImageFile" data-errormsg="PhotoUploadErrorMsg">
                        </div>
                    </div>
                </div>

                <div class="row rowtop">
                    <div class='col'>
                        <div class="container border flex-column text-center image-container ">
                            <h3 class="rowtop blue-text">Original Image</h3>
                            <div id="oriImgHolder" class="rowtop image-placeholder">
                                <img id="oriImg"/>
                            </div>
                            <div class="row rowtop"></div>
                        </div>
                    </div>

                    <div class='col'>
                        <div class="container border flex-column text-center image-container ">
                            <h3 class="rowtop orange-text">Processed Image</h3>
                            <div id="newImgHolder" class="rowtop image-placeholder"></div>
                            <div class="row rowtop"></div>
                        </div>
                    </div>
                </div>

                <div class="row rowtop">
                    <div class="col">
                        <div class="container border flex-column text-center operation-container">
                        <h3 class="rowtop purple-text">Available Operations</h3>
                        <ul class="source connected">
                            <li name='flip_H'>Flip Horizontally</li>
                            <li name='flip_V'>Flip Vertically</li>
                            <li name='rotate_R'>Rotate Right</li>
                            <li name='rotate_L'> Rotate Left</li>
                            <li name='rotate'>Rotate<input type="number" id="deg" name="deg" value=0>degrees</li>
                            <li name='resize'>Resize<input type="number" min="1" id="pct" name="pct" value=100>%</li>
                            <li name='thumbnail'>Make Thumbnail</li>
                            <li name='grayscale'>Make GrayScale</li>
                        </ul>
                        <button type="button" id="Refresh" class="btn purple">Refresh List</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container border flex-column text-center operation-container">
                        <h3 class="rowtop green-text">Chosen Operations</h3>
                        <ul class="target connected"></ul>
                        <button type="button" id="Process" class="btn green">Process Image</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 sidenav"></div>

        </div>
    </div>

    <footer class="container-fluid text-center footer">
        <h5><i class="fas fa-magic"></i>  Simple Image Processor</h5>
    </footer>
</body>

<script type="text/javascript">

  $(document).ready(function() {

    // upload and display image
    function readURL(file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#oriImg').attr('src', e.target.result);
        }
        reader.readAsDataURL(file);
    }

    $("#oriFile").change(function() {
        readURL(this.files[0]);
    });

    // select and sort actions
    $(".source, .target").sortable({
      connectWith: ".connected"
    });

    $('#Refresh').click(function(e) {
        $( ".source" ).empty();
        $( ".source" ).append('<li name=\'flip_H\'>Flip Horizontally</li>');
        $( ".source" ).append('<li name=\'flip_V\'>Flip Vertically</li>');
        $( ".source" ).append('<li name=\'rotate_R\'>Rotate Right</li>');
        $( ".source" ).append('<li name=\'rotate_L\'> Rotate Left</li>');
        $( ".source" ).append('<li name=\'rotate\'>Rotate<input type="number" id="deg" name="deg" value=0>degrees</li>');
        $( ".source" ).append('<li name=\'resize\'>Resize<input type="number" min="1" id="pct" name="pct" value=100>%</li>');
        $( ".source" ).append('<li name=\'thumbnail\'>Make Thumbnail</li>');
        $( ".source" ).append('<li name=\'grayscale\'>Make GrayScale</li>');
        $(".source, .target").sortable({
        connectWith: ".connected"
        });
    });

    // send process request
    $("#Process").click(function(e) {
        // e.preventDefault();

        // check image
        if (typeof $('input[type=file]')[0].files[0] == 'undefined') {
            alert("Please select an image to start.");
            return;
        }
        
        // get list of operations
        var items = [];

        $("ul.target").children().each(function() {
            var item = {action: $(this).attr('name')};

            if($(this).children().length > 0) {
                item.param = $(this).children().val();
            };
            items.push(item);
        });

        // check operations
        if (items.length == 0) {
            alert("Please select at least one operations.");
            return;
        }

        var img = 'static/media/' + $('input[type=file]')[0].files[0]['name'];
        var jsonItems = JSON.stringify(items);
        var imgActions = {'file': img, 'action': jsonItems};
        
        $.ajax({
            type: 'post',
            url: '/imageprocess',
            data: imgActions,
            success: function (data) {
                console.log('Submission was successful.');
                console.log(data.image_url);
                $("#newImgHolder").empty();
                $('#newImgHolder').append('<img id="newImg"  src="' + data.image_url + '?' + performance.now() + '" />');
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            }
        });

    });

});

</script>

</html>